@font-face {
    font-family: "IPixelU";
    src: local("IPixelU"), url(./assets/fonts/I-pixel-u.ttf) format("truetype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
@font-face {
    font-family: "PressStart2P";
    src: local("PressStart2P"),
        url(./assets/fonts/PressStart2P.ttf) format("truetype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

body,
html {
    height: 100vh;
    font-size: calc(0.4rem + 1vmin);
}
*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background-color: rgba(163, 73, 163, 0.5);
    border-radius: 5rem;
    width: 1rem;
}

*::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #91066e 0%, #5c0346 99%);
    border-radius: 5rem;
    width: 1rem;
}

* {
    box-sizing: border-box;
    font-family: PressStart2P;
}
button {
    cursor: pointer;
    &:hover {
        position: relative;
        top: 1px;
    }
}
#root {
    height: 100%;
}
.App {
    text-align: center;
    width: 100%;
    height: 100%;
}

.tab-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 8px;
    width: 5rem;
    padding: 4px;
    color: white;
    border: 1px solid white;
    border-top-right-radius: 2rem;
    cursor: pointer;
    &:hover {
        background-color: purple !important;
        z-index: 10;
    }
}

.d-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.start {
        justify-content: flex-start;
    }
    &.around {
        justify-content: space-around;
    }

    &.col {
        flex-direction: column;
        &.start {
            align-items: flex-start;
        }
    }
}

.sec-font {
    font-family: IPixelU;
}

.channel {
    @extend .d-flex;
}
